nav {
  background-color: #2D2727;
  height: 50px;
}

.centrado {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spaceBetween {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.characterLogo {
  width: 30px;
}

.marvelLogo {
  width: 80px;
  padding: 9px;
}

input {
  margin-left: 10%;
  width: 40%;
  height: 40%;
}

.container {
  display: flex;
  background-color: #F4F4F4;
}

.containerBuscador {
  width: 80%;
}



