nav {
  background-color: black;
  height: 50px;
}

.centrado {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spaceBetween {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.characterLogo {
  width: 30px;
}

.marvelLogo {
  width: 80px;
  padding: 9px;
}

input {
  margin-left: 10%;
  width: 40%;
  height: 40%;
}



