.spaceBetween {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.characterLogo {
  width: 30px;
}

input {
  margin-left: 10%;
  width: 40%;
  height: 40%;
}

.containerBuscador {
  width: 80%;
}

.containerFavoritos {
  width: 20%;
}



