<header>
  <nav class="centrado">
    <img class="marvelLogo" src="./assets/icons/marvelLogo.png" alt="Logo Marvel">
<!--    <form class="form-search">-->
<!--      <div class="input-group">-->
    <label>
      <input maxlength="128" placeholder="Search character" size="15" type="text" />
    </label>
    <!--        <span><button class="btn btn-primary"><i class="fa fa-search fa-lg">&nbsp;</i></button></span>-->
<!--      </div>-->
<!--    </form>-->
  </nav>
</header>
<div class="container">
  <div class="containerBuscador">
    <div class="spaceBetween">
      <div class="centrado" >
        <img class="characterLogo" src="./assets/icons/characters.png" alt="personajes">
        <span>Characters</span>
      </div>
      <div>
        <label>
          <input maxlength="128" placeholder="Sort by" size="15" type="text" />
        </label>
      </div>
    </div>

    <characters [characters]="characters$ | async" ></characters>
    <footer> Aquí va el paginador</footer>
  </div>
  <app-favoritos></app-favoritos>
</div>

