<div class="container">
  <div class="button element" (click)="previous()" *ngIf="pages.length > 1">
    <span> < </span>
  </div>
  <div class="button" *ngFor="let page of pages" >
    <div *ngIf="page.id === 'less'" (click)="less()" class="element">
      <span >{{ page.tag }}</span>
    </div>
    <div *ngIf="page.id === 'more'" (click)="more()" class="element">
      <span>{{ page.tag }}</span>
    </div>
    <div *ngIf="page.id !== 'less' && page.id !== 'more' " (click)="navigateTo(page.id)" class="colorText element">
      <span [ngClass]="{selected: actualPage===page.id}">{{ page.tag }}</span>
    </div>
  </div>
  <div class="button element" (click)="next()" *ngIf="pages.length > 1">
    <span> > </span>
  </div>
  <div class="itemsPerPage">
    <form [formGroup]="formPagination">
      <span>Items per page: </span>
      <select formControlName="itemsPerPage" name="itemsPerPage" id="itemsPerPage">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </form>
</div>
</div>
