nav {
  background-color: #2D2727;
  height: 50px;
}

.inputBuscado{
  position: absolute;
  width: calc(100% - 100px);
  right: 0;
}

form {
  display: flex;
  justify-content: center;
}

input {
  width: 25%;
  min-width: 170px;
}

.divImg {
  background: white;
  cursor: pointer;
  height: 26px;
  margin: 1px 0;
  width: 3%;
  min-width: 26px;
}

.btnImg {
  width: 100%;
  height: 100%;
}

.centrado {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  display: flex;
  background-color: #F4F4F4;
}

.marginContainer {
  margin: 10px;
}

.marvelLogo {
  position: absolute;
  left: 0;
  width: 80px;
  padding: 9px;
}

.body {
  /*display: flex;*/
}

.pantalla {
  width: 80%;
}
.containerFavoritos {
  width: 20%;
}
