<div style="width: 100%">
  <header>
    <nav class="centrado">
      <img class="marvelLogo" src="./assets/icons/marvelLogo.png" alt="Logo Marvel">
      <div class="inputBuscado">
        <form>
          <input maxlength="128" placeholder="Search character" size="15" type="text" />
          <div class="divImg">
            <img class="btnImg" src="./assets/icons/search.png" alt="">
          </div>
        </form>
      </div>

    </nav>
  </header>
  <div class="container">
    <div class="pantalla marginContainer">
      <router-outlet></router-outlet>
    </div>
    <div class="marginContainer">
      <app-favoritos class="containerFavoritos"></app-favoritos>
    </div>
  </div>
</div>
